body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* box-sizing: border-box; */
  /* overflow-x: hidden; */
}
/* Navbar */
nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(234, 149, 37);
  border: none;
}
.navbar h2 a {
  transition: 0.3 ease;
}
.navbar h2 a:hover {
  background-color: rgba(52, 44, 28, 0.804);
  color: white;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  width: 28rem;
  transition: all 0.5s ease;
  font-weight: 700;
  font-family: sans-serif;
}
.navbar ul :hover {
  color: rgb(33, 157, 33);
}
.navbar h2 a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgba(180, 69, 32, 0.839);
  padding: 9px;
  border-radius: 18px;
  font-family: sans-serif;
}
.main {
  /* border: 2px solid; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.heading {
  /* border: 2px solid; */
}
.navbar h1 {
  font-size: 30px;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 23px;
}

/* Navbar end */

.main .heading {
  display: flex;
  align-items: center;
  /* border: 2px solid; */
}
main .main {
  overflow: hidden;
  position: relative;
  align-items: center;
}
main .main img {
  object-fit: cover;
  width: 99vw;
}
.main .heading p {
  position: absolute;
  top: 26rem;
}
.main h1 {
  position: absolute;
  top: 10rem;
  left: 17rem;
  color: rgba(0, 0, 0, 0.766);
  font-size: 70px;
}
.main .secondh1 {
  position: absolute;
  top: 14rem;
  left: 13rem;

  font-size: 130px;
}
.main .heading p {
  left: 17rem;
  top: 29rem;
  font-size: 33px;
  color: rgba(255, 255, 255, 0.996);
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section .cate {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  /* text-align: center; */
}
section .cate .top {
  color: rgba(38, 9, 255, 0.695);
}
section .category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr;
  overflow: hidden;
  margin-top: 4rem;

  gap: 10px;
  text-align: center;
  cursor: pointer;
  border: 2px solid;
}
section .category .imgcategory .names {
  /* margin-top: 30px; */
  transition: all 0.1 ease;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 28px;
}
section .category .imgcategory .names:hover {
  color: rgb(255, 9, 91);
}

section .category .imgcategory img {
  object-fit: cover;
  /* width: 16rem; */
  height: 14rem;
  border-radius: 20px;
  transition: all 0.3s ease-out;
}
section .category .imgcategory {
  padding: 10px;
  /* overflow: hidden; */
}
section .category .imgcategory img:hover {
  transform: scale(1.09);
}
section .cate {
  font-size: 34px;
}
section .cate p {
  display: inline;
}
/* ----------- Categories finished-------------- */

/* -------------Discount section---------- */

.discount {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;

  height: 25rem;
  padding: 30px;
  margin: 10px;
  margin-top: 4rem;
}
.discount .images img {
  width: 30rem;
  border-radius: 19px;
}
.discount .images {
  position: relative;

  width: 240px;
}
.discount .images p {
  position: absolute;
  top: 60px;
  font-weight: 700;
  font-size: 18px;
  padding: 5px;
}
.discount .images h1 {
  position: absolute;
  top: 100px;
  font-weight: 700;
  padding: 5px;
}

.discount .images a {
  position: absolute;
  display: inline-block;
  top: 230px;
  left: 17px;

  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  background-color: rgb(254, 47, 0);
  border: none;
}
.discount .images a:hover {
  background-color: black;
  color: white;
}
/* discount css end */

.delivary .image {
  display: flex;
  justify-content: center;
}
.delivary .text {
  display: inline-block;
  color: rgb(255, 9, 91);
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
}
.delivary .h1tag {
  display: flex;
  justify-content: center;
}
/* --------delivery section-------------- */

.deliveryorder {
  display: flex;
  justify-content: space-around;
}
.deliveryorder .imgcontainer img {
  margin-left: 50px;
}
/*---------- delivary end-------- */

/* ------footer part------------ */

footer {
  position: relative;
}
footer img {
  height: 30rem;
}
footer .leftfooterpart {
  position: absolute;
  top: 200px;
  left: 40px;
}
footer .leftfooterpart a {
  color: white;
  font-size: 45px;
  text-decoration: none;
}
footer .leftfooterpart p {
  color: white;
  font-size: 20px;
}
.leftfooterpart .kajal {
  color: rgb(255, 116, 9);
}
footer .rightfooter {
  position: absolute;
  color: white;
  top: 180px;
  left: 34rem;
}
footer .rightfooter ul li {
  list-style-type: none;
  font-size: 20px;
}
footer .rightfooter .rightkajal {
  position: absolute;
  left: 380px;
  top: 1px;
}
.payment {
  display: flex;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.837);
}
