body{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
/* Navbar */
nav .navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(234, 149, 37);  
    border: none;  
    
    
}

.navbar ul {
    display: flex;
    list-style-type: none;
    align-items: center;
   justify-content: space-around;
   width: 28rem;
    transition: all 0.5s ease;
    font-weight: 700;
    font-family: sans-serif;
    
}
.navbar ul :hover {
    color: rgb(33, 157, 33);
}
.navbar h2 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(71, 69, 69);
    padding: 9px;
    border-radius: 18px;
    font-family: sans-serif;
}
.navbar h1 {
    font-size: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 23px;
}

/* Navbar end */

.main .heading{
    display: flex;
    align-items: center;
    border: 2px solid;
    
}
main .main{
    overflow: hidden;
    position: relative;
    align-items: center;
    
}
main .main img{
    object-fit: cover;
    width: 99vw;

   
}
.main .heading p{
    position: absolute;
    top: 26rem;
    
}
.main h1 {
    position: absolute;
    top: 10rem;
    left: 17rem;
    color: rgba(0, 0, 0, 0.766);
    font-size: 70px;
    
}
.main .secondh1 {
    position: absolute;
    top: 14rem;
    left: 13rem;
    
    font-size: 130px;
}
.main .heading p {
    left: 17rem;
    top: 29rem;
    font-size: 33px;
    color: rgba(255, 255, 255, 0.996);
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}